template(name="layout")
  +myContent2
  //- +myContent
  +example


template(name="example")
  h1 example

template(name="myContent2")
  +ooSortableList collection="Groups" handle=".js-sortHandle" level="2"
    each groups
      +comTest

template(name="comTest")
  .js-sortGroup.group(id="{{_id}}")
    h2.js-sortHandle {{name}}
    h2 not handle
    +ooSortableList collection="Players" groupName="mygroup" context=this
      each items
        +item

template(name="item")
  .item(id="{{_id}}")
    span.sortOrder.pos {{sortOrder}}
    span.name {{name}}

template(name="ooSortableList")
  .oo-sortableList(class="js-sortableList{{level}}")
    +Template.contentBlock

//- template(name="ooSortableList2")
//-   .js-sortableList2
//-     +Template.contentBlock

//- template(name="myContent")
//-   #groupWrapper2
//-     each groups
//-       +group

//- template(name="group")
//-   .js-sortGroup.group(id="{{_id}}")
//-     h2.js-sortGroupHandle.group-title {{name}}
//-     .js-sortGroupItems.group-items
//-       each items
//-         +item
